body > #root > div {
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

li {
  list-style-type: none;
}

.btn, .dbtn, .cbtn {
  display: inline-block;
  background-color: rgb(20, 159, 252);
  color:white;
  width: 5vw;
  padding: 0.5em;
  text-align: center;
  border-radius: 3px;
  box-shadow: 1px 1px 3px grey;
  cursor: pointer;
  text-decoration: none;
}

.dbtn {
  color: #000;
  background-color: #ddd;
}

.cbtn {
  width: auto;
  background-color: #ccc;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

.App {
  display: flex;
  flex-direction: column;
}

.App-header {
  background-color: #282c34;
  min-height: 6vh;
  display: flex ;
  flex-direction: row;
  font-size: calc(10px + 1.5vmin);
  color: white;
  text-align: center;
  line-height: 6vh;
}

#back {
  cursor: pointer;
  min-width: 5vw;
}

#back:hover, .toolbar-icon:hover {
  background-color: #4b4b4c;
}

#appTitle {
  flex: 1;
}

.toolbar-icon {
  cursor: pointer;
  padding: 0 1em;
  color: #fff;
  text-decoration: none;
  display: block;
}

.app-body {
  flex: 1;
  display: flex;
}

.nav-pane {
  width: 15vw;
  background-color: #eee;
  border-right: 0.005vw solid #ccc;
}

.main-content {
  display: flex;
  justify-content: flex-start;
  flex: 1;
  background-color: #fff;
  padding: 1em 2em;
}

.nav-pane ul, .task-list {
  padding: 0;
  margin: 0;
}

.nav-link {
  color: #000;
  display: block;
  text-decoration: none;
  padding: 1.5em;
}

.active-link {
  background-color: #ccc;
}

.day {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.section-header {
  display: flex;
  min-height: 5vh;
  margin-bottom: 1em;
  align-items: center;
  justify-content: center;
}

.section-header .navigator{
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-header .tools > *{
  margin-right: 1vw;
}

.section-header .tools > *:last-child{
  margin-right: 0;
}

.cur-list-txt {
  margin: 0 1em;
  min-width: 6vw;
  text-align: center;
}


.task-list {
  
  overflow: auto;
  border-radius: 0.5em;
  background-color: rgba(238, 238, 238, 0.3);
  border: 0.05vw solid #ccc;
}

.task-list-item {
  display: flex;
  padding: 0.5em 1em;
  align-items: center;
  border-bottom: 0.05vw solid #ccc;
}

.task-list-item:last-child {
  border-bottom: 0;
}

.task-list-item > * {
  padding: 0.5em 0;
}

.task-log-time {
  width: 4vw;
}

.task-duration {
  min-width: 5vw;
  font-size: 1em;
}

.task-duration .greytxt {
  font-size: 0.8em;
  color: grey;
}

.task-separator {
  align-self: stretch;
  border-right: 1px solid #ddd;
  margin: 0 1em;
}

.task-title {
  flex: 1;
}

.task-desc {
  display: block;
  margin: 0.5em 0 0 1em;
  color: #555;
  font-size: 0.9em;
}

.task-list-item:last-child {
  /*border-bottom: 0;*/
}
.new-entry {
  display: flex;
  min-width: 32.5vw;
  flex-direction: column;
}

.new-entry > * {
  margin-bottom: 2em; 
}

.new-entry .heading {
  font-weight: bold;
  margin-bottom: 0.5em;
}

.new-entry > .type, .new-entry > .time {
  display:flex;
}

.new-entry > .type > * {
  flex: 1;
  height: 6vh;
  line-height: 6vh;
  text-align: center;
  border: 1px solid #ccc;
  border-right: 0;
  cursor: pointer;
  font-size: 0.9em;
}

.new-entry > .type > *:first-child {
  border-radius: 5px 0 0 5px;
}

.new-entry > .type > *:last-child {
  border-radius: 0 5px 5px 0;
  border-right: 1px solid #ccc;
} 

.new-entry > .type > .active {
  color: #fff;
  background-color: rgba(11, 168, 69, 0.8);
}

.new-entry input, .new-entry textarea {
  font-size: 1em;
  min-height: 5vh;
  line-height: 4vh;
  padding: 0.5em;
  border-radius: 0.25em;
  border: 1px solid #ccc;
  font-family: Arial, Helvetica, sans-serif;
}

.new-entry input[type='submit'] {
  border: 0;
}

.new-entry .txtbox-div {
  min-width: 30vw;
  display: block;
}

.task-controls {
  display: flex;
  justify-content: space-between;
  padding: 0;
  align-self: center;
  min-width: 40px;
}

.task-controls > * {
  cursor: pointer;
  text-decoration: none;
  color: #111;
}

.day-calendar {
  position: absolute;
  top: 15%;
  left: 75%;
  box-shadow: 1px 1px 20px 2px rgba(128,128,128, 0.75);
  border-radius: 5px;
}

.hide {
  display: none;
}

.log-timepicker {
  height: 500px;
  width: 500px;
}

.log-timepicker {
  width: auto !important;
}

.log-timepicker .rc-time-picker-panel-input {
  font-size: 1.2em;
  line-height: 2.5;
}

.log-timepicker .rc-time-picker-panel-select {
  min-width: 5vw;
  max-height: 60vh !important;
  overflow-x: hidden;
  font-size: 1.2em;
}

.rc-time-picker-panel-select li {
  padding: 0.25em 0 0.25em 1em !important;
}

.none {
  color: #111;
  text-decoration: none;
}

.day .fa-calendar {
  position: absolute;
  margin-left: 8%;
}

.day-summary {
  padding-left: 10px;
  margin-bottom: 10px;
}

.day-summary > * {
  margin-right: 25px;
}